{% extends 'main/base.html' %}
{% block title %}Login
{% endblock %}

{% block content %}
<div class="login-card">
    <div class="card-header">
      <div class="log">Login
      </div>
      {% if message %}
    <p>{{message}}</p>
    {% endif %}
    </div>
    <form method="POST" class="form-group">
        {% csrf_token %}
      <div class="form-group">
        <label class="labelregister" for="id_username">Username</label>
        {{form.username}}
      </div>
      <div class="form-group">
        <label class="labelregister" for="id_password" >Password</label><br>{{form.password}}
      </div>
      <p>Don't have an account? Create a new one <a href="/register">here</a> </p>
      <div class="form-group">
        <button class="loginbtn">Login</button>
      </div>
    </form>
  </div>  


{% endblock %}