{% extends 'main/base.html' %}

{% block content %}
<ul class="charlist">
    {% for char in char %}
    <a class="card" href='/{{char.id}}'>
            {% if char.image %}
                <img class="cardimg" src=../static/img/{{char.image}}.svg>
            {% else %}
            <img class="cardimg" src=../static/img/user-circle.svg>
            {% endif %}
            <div class="card-name"><p class="cardtextname">{{char.name}}</p></div>
            <div class="card-description"><p class="cardtext">{{char.race}}</p> <p class="cardtext">{{char.classes}}</p> <p class="cardtext">Level: {{char.level}}</p><icon id="arrow">→</icon></div>
</a>
    {% endfor %}
</ul>
{% endblock %}