{% extends 'main/base.html' %}

{% block content %}
<div class="login-card">
    <h1>Website made by Angel Gabriel López</h1>
    <h3>Using Django. Vanilla HTML CSS JavaScript.</h3>
    <h2>This helped in the development of this website</h2>
    <ul>
        <li><a href="https://svgcrop.com/" target="_blank" rel="noopener noreferrer nofollow">SVGCrop</a></li>
        <li><a href="Squoosh.app" target="_blank" rel="noopener noreferrer nofollow">Squoosh</a></li>
        <li><a href="tabler-icons.io" target="_blank" rel="noopener noreferrer nofollow">TablerIcons</a></li>
        <li><a href="https://universe.io/" target="_blank" rel="noopener noreferrer nofollow">Uiverse</a></li>
        <li><a href="https://thenounproject.com/browse/collection-icon/role-playing-game-ui-rpg-dnd-mtg-175203/?p=1" target="_blank" rel="noopener noreferrer nofollow">Class Icons: Michelle Lukezic</a></li>
    </ul>
</div>
{% endblock %}